<!-- Tushar Iyer -->
<!-- CSCI 621 | MongoDB Project | Fall 2018 -->

<footer class="page-footer font-small blue">
    <div class="footer-copyright text-center py-3">
        <a href="http://tushariyer.co"> Tushar Iyer</a> © 2018
    </div>
</footer>